.search{
    --search_padding: 13px;
    width: max-content;
    align-items: center;
    display:flex;
    position: fixed;
    top:325px;
    left: 410px;
    padding:var(--search_padding);
    border-radius: 26px;
    background-color: #f6f6f6;
}
#search_bar {
    align-self: center;
    width: 700px;
    padding-left:14px;
    font-size: 18px;
    height: 30px;
    padding:var(--search_padding);
    border:none;
    outline:none;
    background-color: transparent;
}
#index_body {background-color: rgb(53,53,53);}

#image_body {
    background-color: white;
}

.image_button {
    border: none;
    background-color: transparent;
    outline:none;
    color: white;
    font-size: 13px;
    float:right;
}

.back_to_google {
    border: none;
    background-color: transparent;
    font-weight: bold;
    outline:none;
    color: black;
    font-size: 13px;
    float:right;
}

.search_button {
    border:none;
    outline:none;
    position:fixed;
    left: 675px;
    top: 400px;
}

#image_button:hover {
    text-indent: 2px;
    text-decoration: underline;
}

.back_to_google:hover {
    text-indent: 2px;
    text-decoration: underline;
}

.img_pos {
    position: fixed;
    left: 575px;
    top: 175px;
}

.advanced_search_button {
    color: white;
    border: none;
    background-color: transparent;
    outline:none;
    font-size: 13px;
    float:right;
}

nav {
    display:block;
}

.advanced_search_button:hover {
    text-indent: 2px;
    text-decoration: underline;
}
#image_adv{
    color:black;
    font-weight: bold;
}

#adv_search_title {
    color: red;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: lighter;
    position:relative;
    top: 45px;
    left: 30px;
}

hr {
    border-bottom: 1px solid #f6f6f6;
    position: relative;
    top:47px;
}

#back_to_images {
    color: black;
    font-weight: bold;
}

#back_to_images:hover {
    text-decoration: underline;
    text-indent: 2px;
}