.search{
    --search_padding: 13px;
    width: max-content;
    align-items: center;
    display:flex;
    position: fixed;
    top:325px;
    left: 410px;
    padding:var(--search_padding);
    border-radius: 26px;
    background-color: #f6f6f6;
}
#search_bar {
    align-self: center;
    width: 700px;
    padding-left:14px;
    font-size: 18px;
    height: 30px;
    padding:var(--search_padding);
    border:none;
    outline:none;
    background-color: transparent;
}
#index_body {background-color: rgb(53,53,53);}

#image_body {
    background-color: white;
}

#image_button {
    position:fixed;
    border: none;
    background-color: rgb(53,53,53);
    outline:none;
    color: white;
    font-size: 13px;
    left: 1325px;
    top: 25px;
}

.back_to_google {
    position:fixed;
    border: none;
    background-color: white;
    font-weight: bold;
    outline:none;
    color: black;
    font-size: 13px;
    left: 1325px;
    top: 25px;
}

.search_button {
    border:none;
    outline:none;
    position:fixed;
    left: 700px;
    top: 400px;
}